@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:not(i) {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.main-button {
  height: 45px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, right bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  border-style: none;
  border-radius: 25px;
  padding: 0px 20px 0px 20px;
  font-weight: bold;
}

.header {
  width: 100%;
  height: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  font-family: 'Shrikhand', cursive;
  font-size: xx-large;
}

.footer {
  background-color: #444444;
  padding: 25px 0px 35px 30px;
}

.footer-logo {
  color: #FFFFFF;
  font-family: 'Shrikhand', cursive;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 15px 0px;
  font-size: 20px;
}

.footer-list {
  list-style-type: none;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

.footer-link {
  color: #FFFFFF;
  line-height: 25px;
}

.footer-icon {
  width: 30px;
  padding-right: 10px;
}

.location {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EBEBEB;
  color: #444444;
  -webkit-box-shadow: 0px 5px 15px -10px inset;
          box-shadow: 0px 5px 15px -10px inset;
}

.location-icon {
  margin-right: 15px;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functioning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 10px 4% 30px 4%;
}

.functioning-card {
  width: 95%;
  height: 60px;
  margin: 10px 0px 10px 10px;
  border-radius: 15px;
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 5px 30px -10px #777777;
          box-shadow: 5px 5px 30px -10px #777777;
  line-height: 25px;
  font-weight: bold;
}

.functioning-card:hover {
  background-color: #f2eafb;
}

.functioning-card:hover .functioning-icon {
  color: #9356DC;
}

.functioning-number {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  text-align: center;
  background-color: #9356DC;
  color: #FFFFFF;
  margin-left: -10px;
}

.functioning-icon {
  color: #777777;
  margin: 0px 20px 0px 20px;
}

.restaurant {
  background-color: #EEEEEE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 100%;
  padding: 0% 5% 50px 5%;
}

.restaurant h2 {
  margin: 50px 0px 5px 0px;
}

.restaurant-card {
  width: 100%;
  height: 300px;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 30px -10px #777777;
          box-shadow: 5px 5px 30px -10px #777777;
  margin-top: 20px;
}

.restaurant-imgbox {
  width: 100%;
  height: 70%;
  position: relative;
}

.restaurant-figure {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.restaurant-image {
  width: 100%;
  height: 100%;
  border-radius: 25px 25px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-new {
  width: 90px;
  height: 35px;
  background-color: #99E2D0;
  color: #299077;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
  border-radius: 2px;
  position: absolute;
  top: 15px;
  right: 15px;
}

.restaurant-textbox {
  width: 100%;
  height: 30%;
  padding: 20px 20px 20px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurant-textbox h3 {
  margin: 0px 0px 5px 0px;
}

.restaurant i {
  width: 30px;
  height: 30px;
  font-size: 30px;
}

.menu h1 {
  font-family: 'Shrikhand', cursive;
}

.menu .fa-circle-check {
  background-color: #99E2D0;
  color: #FFFFFF;
}
