@keyframes fade-in {
    0% {
        height: 100vh;
        overflow: hidden;
    }
    99% {
        height: 100vh;
        overflow: hidden;
    }
    100% {
        height: auto;
        overflow: initial;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        height: 0px;
        overflow: hidden;
    }
}

@keyframes loading-circle-1 {
    0% {
        transform: rotate(0deg) scale(1,1);
    }
    50% {
        transform: rotate(180deg) scale(1.5,1.5);
    }
    100% {
        transform: rotate(360deg) scale(1,1);
    }
}

@keyframes loading-circle-2 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


.index-body {
    animation: fade-in 0.1s linear 3.2s both;
}

.loading {
    z-index: 99;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    @include background-color(#FFFFFF);
    text-align: center;
    @include flex-box(row, wrap);
    justify-content: center;
    align-items: center;
    animation: fade-out 0.3s linear 3s forwards;
    &-text {
        width: 100%;
        font-family: 'Shrikhand', cursive;
        font-size: 30px;
    }
    &-animation {
        content: '';
        width: 70px;
        height: 70px;
        border-radius: 70px;
        border: 5px solid transparent;
        border-top-color: $color-primary;
        border-bottom-color: $color-primary;
        animation: loading-circle-1 1s linear infinite;
        &::after {
            content: '';
            position: absolute;
            top: 5px;
            bottom: 5px;
            left: 5px;
            right: 5px;
            border-radius: 70px;
            border: 5px solid transparent;
            border-top-color: $color-secondary;
            border-bottom-color: $color-secondary;
            animation: loading-circle-2 2s linear infinite;
        }
    }
}

.location {
    height: 50px;
    @include flex-box();
    justify-content: center;
    align-items: center;
    @include background-color($normal-grey);
    @include color($darker-grey);
    box-shadow: 0px 5px 15px -10px inset;
    &-icon {
        margin-right: 15px;
    }
}

.description{
    @include background-color($light-grey);
    @include flex-box(column, nowrap);
    align-items: center;
    text-align: center;
    padding-bottom: 60px;
    &-title {
        width: 65%;
        margin : 35px 0px 15px 0px;
    }
    &-text {
        width: 80%;
        padding-bottom: 25px;
    }
}

.functioning {
    @include flex-box(column, nowrap);
    padding: 20px 5% 50px 5%;
    @media only screen and (min-width: 768px) {
        @include flex-box(row, wrap);
        justify-content: space-around;
    }
    &-title {
        margin-top: 30px;;
        @media only screen and (min-width: 768px) {
            width: 100%;
        }
    }
    &-card {
        width: 95%;
        height: 75px;
        margin: 10px 0px 10px 10px;
        border-radius: 15px;
        @include background-color($light-grey);
        @include flex-box(row, nowrap);
        align-items: center;
        @include box-shadow;
        line-height: 25px;
        font-weight: bold;
        @media only screen and (min-width: 768px) {
            width: 45%;

        }
        @media only screen and (min-width: 992px) {
            width: 30%;
        }
        &:hover {
            background-color: lighten($color: $color-primary, $amount: 35%);
            .functioning-icon {
                @include color($color-primary);
            }
        }
    }
    &-number {
        width: 25px;
        height: 25px;
        border-radius: 25px;
        text-align: center;
        @include background-color($color-primary);
        @include color(#FFFFFF);
        margin-left: -10px;
    }
    &-icon {
        @include color($dark-grey);
        width: 20px;
        height: 20px;
        font-size: 20px;
        margin: 0px 20px 0px 20px;
    }
    
}

.restaurant {
    @include background-color($light-grey);
    @include flex-box(row, wrap);
    width: 100%;
    padding: 0% 5% 50px 5%;
    @media only screen and (min-width: 768px) {
        justify-content: space-between;
    }
    &-title {
        width : 100%;
        margin: 50px 0px 5px 0px;
    }
    &-card {
        width: 100%;
        height: 250px;
        border-radius: 25px;
        @include box-shadow;
        margin-top: 20px;
        @media only screen and (min-width: 768px) {
            width: 48%;
        }
        @media only screen and (min-width: 992px) {
            height: 300px;
            margin-top: 30px;
        }
    }
    &-imgbox {
        width: 100%;
        height: 70%;
        position: relative;
    }
    &-figure {
        width: 100%;
        height: 100%;
        margin: 0px;
    }
    &-image {
        width: 100%;
        height: 100%;
        border-radius: 25px 25px 0px 0px;
        object-fit: cover;
    }
    &-new {
        width: 90px;
        height: 35px;
        @include background-color($color-tertiary);
        color: darken($color: $color-tertiary, $amount: 38%);
        line-height: 35px;
        text-align: center;
        font-weight: bold;
        border-radius: 2px;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    &-textbox {
        width: 100%;
        height: 30%;
        padding: 20px 20px 20px 15px;
        @include flex-box(row, nowrap);
        justify-content: space-between;
        align-items: center;
        & h3 {
            margin: 0px 0px 5px 0px;
        }
    }
}