@keyframes menu-slide {
    0% {
        transform: translateY(+20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}


.topmenu {
    @include dimensions(auto, 255px);
    z-index: -1;
    &-figure {
        @include dimensions(100%, 100%);
        margin: 0px;
    }
    &-image {
        @include dimensions(100%, 100%);
        object-fit: cover;
    }
}

.menu {
    background-color: $light-grey;
    border-radius: 45px 45px 0px 0px;
    padding: 0px 5% 75px 5%;
    margin-bottom: -40px;
    position: relative;
    top: -40px;
    @include flex-box(row, wrap);
    justify-content: center;
    @media only screen and (min-width: 992px) {
        justify-content: space-between;
    }
    &-title {
        @include dimensions(100%, auto);
        @include flex-box(row, nowrap);
        justify-content: space-between;
        align-items: center;
        padding: 30px 0px 10px 0px;
        &-h1{
        font-family: 'Shrikhand', cursive;
        font-size: 28px;
        font-weight: 500;
        margin: 0px;
        }
        & .heart {
            margin-right: 20px;
        }
    }
    &-h2 {
        font-size: 16px;
        font-weight: 300;
        margin: 0px;
        padding: 20px 0px 0px 0px;
        &-underline {
            text-decoration: underline solid $color-tertiary 2px;
            text-underline-offset: 7px;
        }

    }
    &-h3 {
        font-weight: 500;
        margin: 0px;
        padding-bottom: 5px;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-category {
        @include dimensions(100%, auto);
        padding-bottom: 25px;
        @media only screen and (min-width: 992px) {
            @include dimensions(45%, auto);
        }
    }
    &-checkbox {
        @include dimensions(5px, 5px);
        visibility: hidden;
    }
    &-label {
        @include absolute-cover;
        z-index: 5;
    }
    &-card {
        @include dimensions(100%, 65px);
        background-color: #FFFFFF;
        @include box-shadow;
        @include flex-box(row, nowrap);
        border-radius: 15px;
        margin: 20px 0px 20px 0px;
        overflow: hidden;
        position: relative;
        @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
                $delay: ($i/5) + s;
                    animation: menu-slide 0.4s ease-in-out $delay both;
                
            }
        }
    }
    &-iconbox {
        @include dimensions(60px, 100%);
        min-width: 60px;
        background-color: $color-tertiary;
        @include flex-box;
        justify-content: center;
        align-items: center;
        border-radius: 0px 15px 15px 0px;
        transform: translateX(+60px);
        transition: all 0.6s;
    }
    &-icon {
        @include dimensions(20px, 20px);
        font-size: 20px;
        background-color: transparent;
        color: #FFFFFF;
        transform: rotate(-270deg);
        transition: all 0.6s 0.06s;
    }
    &-descriptionbox {
        flex-grow: 1;
        flex-shrink: 2;
        @include flex-box(column, nowrap);
        justify-content: center;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-text {
        font-size: 15px;
        font-weight: 300;
        white-space: nowrap; 
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &-price {
        font-weight: 500;
        text-align: center;
        padding: 37px 25px 9px 10px;
        margin-left: -60px;/*PAS OPTIMAL!!!*/
        transform: translateX(+60px);
        transition: all 0.6s 0.06s;
    }
}

input:checked {
    & ~ .menu-price{
        margin-left: 0px;/*PAS OPTIMAL!!!*/
        transform: translateX(0px);
    }
    & ~ .menu-iconbox{
        transform: translateX(0px);
        & .menu-icon{
            transform: rotate(0deg);
        }
    }
}