* {
    box-sizing: border-box;
}

:not(i)
{
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0px;
    @media only screen and (min-width: 1500px) {
        max-width: 1440px;
        margin: 0 auto;
    }
}

a {
    text-decoration: none;
    @include color(black);
}