.main-button {
    @include dimensions(auto, 50px);
    position: relative;
    z-index: 1;
    @include color(#FFFFFF);
    background: linear-gradient(to left top, $color-primary, $color-secondary);
    border-style: none;
    border-radius: 25px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    @include box-shadow;
    &:hover {
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        @include absolute-cover;
        z-index: -1;
        opacity: 0;
        background: linear-gradient(to left top, lighten($color-primary, 5%), lighten($color-secondary, 5%));
        border-style: none;
        border-radius: 25px;
        @include box-shadow(5px, 5px, 35px, -5px, darken($dark-grey, 15%));
        transition: opacity 0.2s;
    }
}

.description .main-button {
    padding: 0px 20px 0px 20px;
}

.menu .main-button {
    @include dimensions(180px, 50px);
    padding: 0px 40px 0px 40px;
    margin-top: 35px;
    @media only screen and (min-width: 992px) {
        margin:  150px 15% 0px 0px;
    }
}