.heart {
    width: 30px;
    height: 30px;
    font-size: 30px;
    position: relative;
    &:hover {
        & .fa-solid {
            transform: scale(1);
            opacity: 1;
        }
    }
    & .fa-regular {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
    }
    & .fa-solid {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        transform: scale(0.01);
        opacity: 0;
        background: linear-gradient(to bottom, $color-primary, $color-secondary);
        background-clip: text;
        color: transparent;
        transition: all 0.4s;
    }
}