.heart {
    width: 30px;
    height: 30px;
    font-size: 30px;
    position: relative;
    &-checkbox {
        visibility: hidden;
    }
    &-icon {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        &::after {
            content: '\f004';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            transform: scale(0.01);
            opacity: 0;
            background: linear-gradient(to bottom, $color-primary, $color-secondary);
            background-clip: text;
            color: transparent;
            font-family: FontAwesome;
            font-weight: normal;
            font-style: normal;
            transition: all 0.4s;
        }
    }
}

input:checked ~ .heart-icon {
    &::after {
        transform: scale(1);
        opacity: 1;
    }
}