@mixin dimensions($width: auto, $height: auto){
    width: $width;
    height: $height;
}

@mixin box-shadow ($h-off: 5px, $v-off: 5px, $blur: 30px, $spread: -10px, $color: $dark-grey){
    box-shadow: $h-off $v-off $blur $spread $color;
}

@mixin flex-box($direction: row, $wrap: nowrap){
    display: flex;
    flex-flow: $direction $wrap;
}

@mixin absolute-cover($position: absolute, $top: 0, $right: 0, $bottom: 0, $left: 0){
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

@mixin icon-cover {
    z-index: 2;
    opacity: 0;
    color: $color-primary;
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    transition: opacity 0.2s;
}